/* •••••••••••••••••••••••••••••••••• */

#wrapper h3 {
    font-size: 1.2em;
}

/* •••••••••••••••••••••••••••••••••• */
#wrapper .spotlight {
    box-shadow: 0 0 5px #555;
    border: 1px solid #888;
    padding: 10px;
    background-color: #e8ead4;
    overflow: hidden;
}

#wrapper .spotlight .left {
    width: 300px;
    margin-right: 20px;
    float: left;
}

#wrapper .spotlight .right h3 {
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: normal;
}

#wrapper .spotlight .right {
    width: 560px;
    text-align: justify;
    float: left;
    font-weight: normal;
}

/* •••••••••••••••••••••••••••••••••• */
#wrapper .activities {
    margin-top: 20px;
}

#wrapper .activities ul {
    list-style-type: none;
}

#wrapper .activities ul li {
    /*box-shadow: 0 0 5px #555;*/
    border: 1px solid #888;
    background-color: #e8ead4;
    float: left;
    overflow: hidden;
    width: 292px;
    height: 170px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    background-position: 0 30%;
}

#wrapper .activities ul li:hover {
    box-shadow: 0 0 5px #555;
}

#wrapper .activities ul li.no-space {
    margin-right: 0;
}

#wrapper .activities .left h3 {
    font-size: 1.3em;
    font-weight: bold;
    color: #555;
}

#wrapper .activities .left {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 5px;
    width: 282px;
    text-align: right;
    opacity: .7;
}

#wrapper .activities ul li:hover .left {
    opacity: 1;
}

/* •••••••••••••••••••••••••••••••••• */
