/* •••••••••••••••••••••••••••••••••• */
form p {
    margin-bottom: 12px;
}

form label {
    display: inline-block;
    margin-right: 2%;
    overflow: hidden;
    font-weight: bold;
}

/* •••••••••••••••••••••••••••••••••• */

form fieldset legend {
    font-size: 1.6em;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 96%;
    padding: 10px 2%;
    background-color: #C0C2AB;
    font-family: 'HelveticaNeueLight', 'Arial', 'sans-serif';
}

/* •••••••••••••••••••••••••••••••••• */
form input[type=text],
form input[type=password] {
    display: inline-block;
    border: 1px solid #999;
    padding: 4px;
    box-shadow: 0 0 2px #bbb;
}

/* •••••••••••••••••••••••••••••••••• */
form textarea {
    width: 100%;
    min-height: 300px;
    font-family: 'HelveticaNeueLight', 'Arial', 'sans-serif';
    font-size: 1em;
    border: 1px solid #999;
    padding: 4px;
    box-shadow: 0 0 2px #bbb;
    background-color: #fff;
}

form .nicEdit-main {
    background-color: #fff;
}

form p.textarea_element label {
    width: 100%;
}

/* •••••••••••••••••••••••••••••••••• */

form p.radio_element label:first-child {
    width: 20%;
}

/* •••••••••••••••••••••••••••••••••• */
form p.submit_element {
    text-align: right;
    display: inline-block;
}

form input[type=submit] {
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 0 2px #bbb;
}

form input[type=submit]:hover {
    cursor: pointer;
}

/* •••••••••••••••••••••••••••••••••• */
