/* •••••••••••••••••••••••••••••••••• */
form label {
    width: 13%;
}

/* •••••••••••••••••••••••••••••••••• */

form input[type=text],
form input[type=password] {
    width: 753px;
}

/* •••••••••••••••••••••••••••••••••• */

form textarea {
    min-height: 200px;
}

/* •••••••••••••••••••••••••••••••••• */

form input[type=submit] {
    border: 1px solid transparent;
    background-image: -moz-linear-gradient(center top, #4D90FE, #4787ED);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4D90FE), to(#4787ED));
    background-image: -webkit-linear-gradient(center top, #4D90FE, #4787ED);
    background-image: -ms-linear-gradient(center top, #4D90FE, #4787ED);
    background-image: -o-linear-gradient(center top, #4D90FE, #4787ED);
    background-image: linear-gradient(center top, #4D90FE, #4787ED);
    box-shadow: 0 0 2px #bbb;
    padding: 5px;
    color: #fff;
}

form input[type=submit]:hover {
    background-image: -moz-linear-gradient(center top, #4D90FE, #357AE8);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4D90FE), to(#357AE8));
    background-image: -webkit-linear-gradient(center top, #4D90FE, #357AE8);
    background-image: -ms-linear-gradient(center top, #4D90FE, #357AE8);
    background-image: -o-linear-gradient(center top, #4D90FE, #357AE8);
    background-image: linear-gradient(center top, #4D90FE, #357AE8);
    border: 1px solid #3079ED;
}

/* •••••••••••••••••••••••••••••••••• */
