@import 'table.css';
@import 'liste.css';
@import 'form.css';

/* •••••••••••••••••••••••••••••••••• */
#container #menu p {
    float: right;
    margin-right: 5px;
}

/* •••••••••••••••••••••••••••••••••• */

#container #wrapper .page p.admin_add {
    text-align: right;
}