/* •••••••••••••••••••••••••••••••••• */

form fieldset {
    float: left;
    width: 48%;
}

form fieldset#fieldset-informations {
    margin-right: 4%;
}

form fieldset#fieldset-antibot {
    display: none;
}

/* •••••••••••••••••••••••••••••••••• */

form fieldset#fieldset-informations p.textarea_element label {
    width: 100%;
    padding-bottom: 5px;
}

form fieldset#fieldset-informations p.select_element label {
    width: 53%;
}

/* •••••••••••••••••••••••••••••••••• */
form fieldset#fieldset-demande p.select_element label,
form fieldset#fieldset-demande p.default_element label {
    width: 37%;
}

form fieldset#fieldset-demande p.textarea_element label {
    width: 100%;
    padding-bottom: 5px;
}

form fieldset#fieldset-demande p.submit_element {
    float: right;
}

/* •••••••••••••••••••••••••••••••••• */
ul.coordonnees {
    margin-bottom: 20px;
    font-size: 1.2em;
    list-style-type: none;
}

/* •••••••••••••••••••••••••••••••••• */
#googlemap {
    width: 100%;
    height: 500px;
}

#googlemap ul.adresse {
    list-style-type: none;
}

#googlemap ul.adresse li strong {
    font-size: 1.3em;
    text-transform: uppercase
}

#googlemap ul.adresse li.type {
    font-size: 1em;
    margin-bottom: 5px;
}

#googlemap ul.adresse li.phone {
    margin-top: 10px;
}

#googlemap ul.adresse li a {
    font-weight: normal;
    color: blue;
}

#googlemap ul.adresse li span {
    font-weight: bold;
}

/* •••••••••••••••••••••••••••••••••• */