.g-cols {
    zoom: 1
}

.g-cols:before, .g-cols:after {
    display: table;
    line-height: 0;
    content: ""
}

.g-cols:after {
    clear: both
}

.g-cols > div {
    float: left;
    width: 100%
}

.g-cols > div:last-child {
    margin-bottom: 0 !important
}

.g-cols > div {
    margin-left: 4.0000%
}

.g-cols > div:first-child, .g-cols > div.full-width {
    margin-left: 0
}

.g-cols > .one-half, .g-cols > .two-quarters, .g-cols > .two-fourths, .g-cols > .three-sixths {
    width: 48.0000%
}

.g-cols > .one-third, .g-cols > .two-sixths {
    width: 30.6666%
}

.g-cols > .two-thirds, .g-cols > .four-sixths {
    width: 65.3333%
}

.g-cols > .one-quarter, .g-cols > .one-fourth {
    width: 22.0000%
}

.g-cols > .three-quarters, .g-cols > .three-fourths {
    width: 74.0000%
}

.g-cols > .one-fifth {
    width: 16.8000%
}

.g-cols > .two-fifths {
    width: 37.6000%
}

.g-cols > .three-fifths {
    width: 58.4000%
}

.g-cols > .four-fifths {
    width: 79.2000%
}

.g-cols > .one-sixth {
    width: 13.3333%
}

.g-cols.offset_wide > div {
    margin-left: 6%
}

.g-cols.offset_wide > div:first-child {
    margin-left: 0
}

.g-cols.offset_wide > .one-half, .g-cols.offset_wide > .two-quarters, .g-cols.offset_wide > .two-fourths, .g-cols.offset_wide > .three-sixths {
    width: 47%
}

.g-cols.offset_wide > .one-third, .g-cols.offset_wide > .two-sixths {
    width: 29.3333%
}

.g-cols.offset_wide > .two-thirds, .g-cols.offset_wide > .four-sixths {
    width: 64.6666%
}

.g-cols.offset_wide > .one-quarter, .g-cols.offset_wide > .one-fourth {
    width: 20.5000%
}

.g-cols.offset_wide > .three-quarters, .g-cols.offset_wide > .three-fourths {
    width: 73.5000%
}

.g-cols.offset_wide > .one-fifth {
    width: 15.2000%
}

.g-cols.offset_narrow > div {
    margin-left: 2.1276%
}

.g-cols.offset_narrow > div:first-child {
    margin-left: 0
}

.g-cols.offset_narrow > .one-half, .g-cols.offset_narrow > .two-quarters, .g-cols.offset_narrow > .two-fourths, .g-cols.offset_narrow > .three-sixths {
    width: 48.9361%
}

.g-cols.offset_narrow > .one-third, .g-cols.offset_narrow > .two-sixths {
    width: 31.9148%
}

.g-cols.offset_narrow > .two-thirds, .g-cols.offset_narrow > .four-sixths {
    width: 65.9574%
}

.g-cols.offset_narrow > .one-quarter, .g-cols.offset_narrow > .one-fourth {
    width: 23.4042%
}

.g-cols.offset_narrow > .three-quarters, .g-cols.offset_narrow > .three-fourths {
    width: 74.4680%
}

.g-cols.offset_narrow > .one-fifth {
    width: 18.2978%
}

@media (max-width :767px) {
    .g-cols > div {
        margin-left: 0 !important;
        margin-bottom: 30px;
        width: 100% !important
    }
}