/* •••••••••••••••••••••••••••••••••• */

#wrapper .partners {
    width: 100%;
    overflow: hidden;
}

#wrapper .partners h2 {
    font-size: 1.5em;
    margin-bottom: 25px;
}

/* •••••••••••••••••••••••••••••••••• */