/* •••••••••••••••••••••••••••••••••• */

#wrapper .presentation {
    float: left;
    /*display: inline-block;*/
    width: 560px;
    margin-right: 20px;
    clear: both;
    text-align: justify;
}

#wrapper .presentation h2 {
    font-size: 1.5em;
    margin-bottom: 25px;
}

/* •••••••••••••••••••••••••••••••••• */

#wrapper .activity,
#wrapper .news {
    float: left;
    /*display: inline-block;*/
    box-shadow: 0 0 5px #555;
    border: 1px solid #888;
    width: 355px;
    padding: 10px;
    background-color: #e8ead4;
    height: 288px;
    overflow: hidden;
    position: relative;
}

#wrapper .activity h3,
#wrapper .news h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px dashed #555;
    padding-bottom: 5px;
}

#wrapper .activity h4,
#wrapper .news h4 {
    margin-bottom: 7px;
    font-size: 1.2em;
    border:none;
}

#wrapper .activity p,
#wrapper .news p {
    text-align: justify;
    margin-bottom: 10px;
    font-weight: normal;
}

#wrapper .activity a:hover,
#wrapper .news a:hover {
    text-decoration: none;
}

#wrapper .activity div.content,
#wrapper .news div.content {
    overflow: hidden;
    height: 230px;
    text-align: justify;
}

#wrapper .activity p.next,
#wrapper .news p.next,
#wrapper .activity p.more,
#wrapper .news p.more {
    text-align: right;
    text-decoration: underline;
    position: absolute;
}

#wrapper .activity p.next,
#wrapper .news p.next {
    bottom: 100px;
    right: 10px;
}

#wrapper .activity p.more,
#wrapper .news p.more {
    bottom: 0;
    right: 10px;
}

#wrapper .activity p.next a,
#wrapper .news p.next a,
#wrapper .activity p.more a,
#wrapper .news p.more a {
    color: #fff;
    display: block;
    font-weight: normal;
    padding: 2px 7px 5px;
    background: #4B4C43;
    width:138px;
}

#wrapper .activity p.next a:hover,
#wrapper .news p.next a:hover,
#wrapper .activity p.more a:hover,
#wrapper .news p.more a:hover {
    text-decoration: underline;
}

#wrapper .activity p img,
#wrapper .news p img {
    display: block;
    width: 150px;
    float: right;
    margin: 0 0 10px 10px;
    border: 1px solid #555;
}

/* •••••••••••••••••••••••••••••••••• */
#wrapper .carrousel {
    float: left;
    /*display: inline-block;*/
    width: 560px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#wrapper .carrousel .slides_container {
    width: 560px;
    height: 300px;
    border: 4px solid #FFF;
}

/* •••••••••••••••••••••••••••••••••• */