/* •••••••••••••••••••••••••••••••••• */
#wrapper p.back {
    text-align: right;
}

/* •••••••••••••••••••••••••••••••••• */

.onglets form p.small_element {
    float: left;
    width: 33%;
    margin-bottom: 40px;
}

.onglets form p.small_element label {
    width: 100%;
    display: block;
    margin-bottom: 4px;
}

.onglets form p.small_element input {
    width: 150px;
}

/* •••••••••••••••••••••••••••••••••• */