/* •••••••••••••••••••••••••••••••••• */

#wrapper .page ol {
    list-style-type: decimal;
}

#wrapper .page ol li {
    margin-bottom: 10px;
}

#wrapper .page ol li ol{
    margin-left:15px;
    margin-top:10px;
}

/* •••••••••••••••••••••••••••••••••• */