.w-logo {
}

.w-logo-h {
    font-size: 0
}

.w-logo-link {
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    vertical-align: top
}

.w-logo-img {
    display: block;
    max-width: 100%
}

.w-logo-title {
    display: none;
    font-size: 30px;
    line-height: 30px;
    white-space: normal
}

.w-logo-slogan {
    display: none;
    padding-top: 10px;
    vertical-align: top
}

.w-logo-slogan-h {
    font-size: 16px
}

.w-logo.with_title .w-logo-img {
    display: none
}

.w-logo.with_title .w-logo-title {
    display: block
}

.w-logo.sloganat_right .w-logo-link {
    margin-right: 30px
}

.w-logo.sloganat_right .w-logo-slogan {
    display: inline-block
}

.w-logo.sloganat_bottom .w-logo-slogan {
    display: block
}